<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/common.js"></script>

    <script>
        $(function() {
            if (getCookie ("username")) {
                $ ("#personal").css ("display", "block");
                $ ("#signin").css ("display", "none");

            }
            else if (!getCookie ("username")) {
                $ ("#personal").css ("display", "none");
                $ ("#signin").css ("display", "block");
            }
            else {
                return "";
            }
        });
    </script>
</head>
<body>
<header>
    <%- include('../header', {username: username}); %>

</header>
<section>
    <div class="table-responsive container">
        <table class="table table-striped table-hover">
            <caption>我发出的订单</caption>
            <thead>
            <tr>
                <th>物品名称</th>
                <th>物品编号</th>
                <th>卖方</th>
                <th>发起时间</th>
                <th>订单ID</th>
                <th>交易状态</th>
                <th>操作</th>
                <th>查看</th>
            </tr>
            </thead>
            <tbody style="color: gray;">
            <% orderList.buyList.forEach(function (item, index) { %>
            <tr>
                <td><%= item.PRODUCTNAME %></td>
                <td><%= item.PRODUCTID %></td>
                <td><%= item.OWNERID %></td>
                <td><%= item.TIME %></td>
                <td><%= item.ORDERID %></td>
                <td><%= item.STATUS %></td>
                <td>
                    <% if (item.STATUS === '已下单') { %>
                        <span><a onclick="orderCancel(<%= item.ORDERID %>)">取消交易</a></span>
                    <% } else if (item.STATUS === '已确认') { %>
                        <span><a onclick="setOrderStatus(<%= item.ORDERID %>, '已完成')">确认完成</a></span>
                        <span><a onclick="orderCancel(<%= item.ORDERID %>)">取消交易</a></span>
                    <% } else { %>
                    <% } %>
                </td>
                <td><a href="/order/detail/<%= item.ORDERID %>">查看</a></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
        <table class="table table-striped table-hover">
            <caption>我收到的订单</caption>
            <thead>
            <tr>
                <th>物品名称</th>
                <th>物品编号</th>
                <th>买方</th>
                <th>发起时间</th>
                <th>订单ID</th>
                <th>交易状态</th>
                <th>操作</th>
                <th>查看</th>
            </tr>
            </thead>
            <tbody style="color: gray;">
            <% orderList.sellList.forEach(function (item, index) { %>
            <tr>
                <td><%= item.PRODUCTNAME %></td>
                <td><%= item.PRODUCTID %></td>
                <td><%= item.BUYERID %></td>
                <td><%= item.TIME %></td>
                <td><%= item.ORDERID %></td>
                <td><%= item.STATUS %></td>
                <td>
                    <% if (item.STATUS === '已下单') { %>
                        <span><a onclick="setOrderStatus(<%= item.ORDERID %>, '已确认')">确认交易</a></span>
                        <span><a onclick="orderCancel(<%= item.ORDERID %>)">取消交易</a></span>
                    <% } else if (item.STATUS === '已确认') { %>
                            <span><a onclick="orderCancel(<%= item.ORDERID %>)">取消交易</a></span>
                    <% } else { %>
                    <% } %>
                </td>
                <td><a href="/order/detail/<%= item.ORDERID %>">查看</a></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>
