<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/common.js"></script>

    <script>
        $(function() {
        });
    </script>
</head>
<body>
<header>
    <%- include('../header', {username: username}); %>

</header>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2" style="margin-bottom: 15px;">
                <a onclick="window.history.go(-1);">&lt;返回上一页</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-lg-offset-2 ">
                <div style="max-width: 300px;max-height: 300px;overflow: hidden;">
                    <a href="#"><img width="300" height="300" class="img-rounded" src="<%= orderDetail.product.PIC %>"></a>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-44">
                <h2>交易订单详情</h2>
                <table class="table" style="">
                    <tr>
                        <td>创建时间：</td><td><%= orderDetail.order.TIME %></td>
                    </tr>
                    <tr>
                        <td>订单号：</td><td><%= orderDetail.order.ORDERID %></td>
                    </tr>
                    <tr>
                        <td>交易状态：</td><td><%= orderDetail.order.STATUS %></td>
                    </tr>
                    <tr>
                        <td>产品名称：</td><td><%= orderDetail.product.PRODUCTNAME %></td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td>产品编号：</td><td><%= orderDetail.product.PRODUCTID %></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">买方资料</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" style="max-width: 300px;margin: 0 auto;">
                            <tr>
                                <td>用户名：</td><td><%= orderDetail.buyer.USERNAME %></td>
                            </tr>
                            <tr>
                                <td>手机号：</td><td><%= orderDetail.buyer.MOBILE %></td>
                            </tr>
                            <tr>
                                <td>地址：</td><td><%= orderDetail.buyer.ADDRESS %></td>
                            </tr>
                            <tr>
                                <td>微信号：</td><td><%= orderDetail.buyer.WECHAT %></td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ddd;">
                                <td>QQ号：</td><td><%= orderDetail.buyer.QQ %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">卖方资料</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" style="max-width: 300px;margin: 0 auto;">
                            <tr>
                                <td>用户名：</td><td><%= orderDetail.owner.USERNAME %></td>
                            </tr>
                            <tr>
                                <td>手机号：</td><td><%= orderDetail.owner.MOBILE %></td>
                            </tr>
                            <tr>
                                <td>地址：</td><td><%= orderDetail.owner.ADDRESS %></td>
                            </tr>
                            <tr>
                                <td>微信号：</td><td><%= orderDetail.owner.WECHAT %></td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ddd;">
                                <td>QQ号：</td><td><%= orderDetail.owner.QQ %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
