<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script src=/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/cookie.js"></script>

    <script>
        $(function() {
            if (getCookie ("username")) {
                $ ("#personal").css ("display", "block");
                $ ("#signin").css ("display", "none");

            }
            else if (!getCookie ("username")) {
                $ ("#personal").css ("display", "none");
                $ ("#signin").css ("display", "block");
            }
            else {
                return "";
            }
        });
    </script>
</head>
<body>
<header>
    <%- include('../header', {username: username}); %>

</header>
<section>
    <div class="content-box container" id="productDetails">
        <div class="content">
            <div class="row">
                <div style="margin-bottom: 15px;">
                    <a onclick="window.history.go(-1);">&lt;返回上一页</a>
                </div>
            </div>
            <div class="row">
                <div style="width: 360px;height: 270px; position: relative;background-color: #f8f8f8; overflow: hidden;" title="点击看大图" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img id="myImg" style="width: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;" src=<%= product.PIC %> alt=<% product.PRODUCTNAME %>>>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <h3><%= product.PRODUCTNAME %></h3>
                    <p>上传时间：<span data-ng-bind="product.created | date:'y/MM/dd'"><%= product.TIME %></span></p>
                    <p>上传者：<span data-ng-bind="product.creator.username"><%= product.OWNID %></span></p>

                    <p>所属分类：<span data-ng-bind="product.category"><%= product.CATG %></span></p>
                    <% if(product.OWNID == localID) { %>
                    <div>
                        <a href="/product/edit/<%= product.PRODUCTID%>">修改</a>
                        <a href="#" data-ng-click="delete()">删除</a>
                    </div>
                    <% } else { %>
                        <button on-click="create()" class="btn btn-primary">交易</button>
                    <% } %>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title">详情描述</h3>
                    <p data-ng-bind="product.details"><%= product.DETAIL %></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
